
<div class="container">

  <div class="container">
    <p class="sub"> <strong> Your answer:</strong> </p>
    <h1 class="answer"> <%= @question %> </h1>
  </div>

  <div class="container">
    <p class="sub"> <strong>Your coach said:</strong> </p>
    <h3 class="answerc"> <%=  @answer %> </h3>
  </div>
  
</div>