<div class="container">

  <h2> Do you want to say something? </h2>

  <form action="/answer">
    <input class="input" type="text" name="answer_letter">
    <input class="submit" type="submit" value="Ask!" >
  </form>
  <% if @alert %>
    <p><%= @alert %> </p>
  <% end %>

</div>