<div class="container">

  <h2> Do you want to say something? </h2>

  <form action="/answer">
    <input class="input" type="text" name="answer_letters">
    <input class="submit" type="submit" value="Ask!" >
  </form>

</div>