/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
  $gray: #976f32;
  $coral: #F28D77;

  body {
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    margin-top: 5px;
  }

  .container {
    padding: 40px;
    text-align: center;
  }

  .container-box {
    background-color: #fdfdfd;
    border-radius: 20px;
    margin-bottom: 15px;
  }
 
  .small-container {
    padding: 15px 40px 15px 40px;
    text-align: center;
  }
  
  .sub {
    margin: 0px;
  }
  
  .answer {
    margin: 0px;
    color: $gray;
  }
  
  .title {
    margin-top: 5px;
    text-align: center;
  }

  .answerc {
    margin-top: 7px;
    color: $gray;
  }

  .input {
    padding: 10px;
    border-color: rgb(67, 67, 67);
    box-shadow: none;
  }

  .submit {
    padding: 10px;
    background-color: $coral;
    color: white;
  }

  .bottom {
    padding: 10px 40px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    background-color:  $coral;
  }

  .button-home {
    background-color: #e2b673;
    padding: 12px 24px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid #794e0f;
  }

  .button-again {
    background-color: $coral;
    padding: 12px 24px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid #8d301b;
  }
